body {
	background-color: rgb(35, 35, 40);
}
#top {
	position: fixed;
	color: #8cff76;
	top: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	height: 34px;
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(30, 30, 33);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(20, 20, 26);
    z-index: 999;
}
.logo {
	font-family: "Rubik", sans-serif;
	font-size: 32px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#tabs {
	position: absolute;
	top: 39%;
	left: 350px;
}

.tab {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: initial;
	top: 10px;
	padding: 10px;
	height: 16px;
	width: 75px;
	font-size: 14px;
	font-family: "Montserrat";
}

.tab:hover {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: initial;
	top: 10px;
	padding: 10px;
	height: 16px;
	width: 75px;
	font-size: 14px;
    font-family: "Montserrat";
	color: white;
}

.selectedtab {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: initial;
	top: 10px;
	background-color: rgb(37, 37, 39);
	padding: 10px;
	border-bottom: 2px;
	border-bottom-color: #59FF00;
	border-bottom-style: solid;
	border-top: 1px;
	border-top-color: #353535;
	border-top-style: solid;
	height: 20px;
	width: 75px;
	font-size: 14px;
	font-family: "Montserrat";
}

.selectedtab:hover {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: initial;
	top: 10px;
	background-color: rgb(37, 37, 39);
	padding: 10px;
	border-bottom: 2px;
	border-bottom-color: #59FF00;
	border-bottom-style: solid;
	border-top: 1px;
	border-top-color: #353535;
	border-top-style: solid;
	height: 20px;
	width: 75px;
	font-size: 14px;
    font-family: "Montserrat";
	color: white;
}

#window {
	top: 55px;
	width: 100%;
	height: 100%;
	left: 0;
	position: fixed;
}

#vl {
	border-left-color: #313131;
	border-left-style: solid;
	border-left-width: 1px;
	position: absolute;
	width: 10px;
	height: 54px;
	top: 0px;
	left: 340px;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: rgb(30, 30, 33);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(20, 20, 26);
	color: gray;
	font-family: monospace;
	left: 0px;
	font-size: 11px;
    z-index: 999;
}

#customfooter {
	position: absolute;
	left: 350px;
	width: 100%;
	height: 100%;
	bottom: -3px;
}

#vl2 {
	border-left-color: #313131;
	border-left-style: solid;
	border-left-width: 1px;
	position: absolute;
	width: 10px;
	height: 20px;
	bottom: 0px;
	left: 340px;
}

#terminal-btn {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	left: 5px;
	bottom: -2px;
	width: 70px;
	height: 100%;
	padding: 1px;
}

#terminal-btn:hover {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	left: 5px;
	bottom: -2px;
	background-color: #353535;
	width: 70px;
	height: 100%;
	padding: 1px;
}

#terminal-btn > span {
	bottom: 6px;
	position: absolute;
	left: 20px;
}

/**
 * Copyright (c) 2014 The xterm.js authors. All rights reserved.
 * Copyright (c) 2012-2013, Christopher Jeffrey (MIT License)
 * https://github.com/chjj/term.js
 * @license MIT
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 *
 * Originally forked from (with the author's permission):
 *   Fabrice Bellard's javascript vt100 for jslinux:
 *   http://bellard.org/jslinux/
 *   Copyright (c) 2011 Fabrice Bellard
 *   The original design remains. The terminal itself
 *   has been extended to include xterm CSI codes, among
 *   other features.
 */

/**
 *  Default styles for xterm.js
 */

.xterm {
	font-feature-settings: "liga" 0;
	position: relative;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.xterm.focus,
.xterm:focus {
	outline: none;
}

.xterm .xterm-helpers {
	position: absolute;
	top: 0;
	/**
     * The z-index of the helpers must be higher than the canvases in order for
     * IMEs to appear on top.
     */
	z-index: 10;
}

.xterm .xterm-helper-textarea {
	/*
     * HACK: to fix IE's blinking cursor
     * Move textarea out of the screen to the far left, so that the cursor is not visible.
     */
	position: absolute;
	opacity: 0;
	left: -9999em;
	top: 0;
	width: 0;
	height: 0;
	z-index: -10;
	/** Prevent wrapping so the IME appears against the textarea at the correct position */
	white-space: nowrap;
	overflow: hidden;
	resize: none;
}

.xterm .composition-view {
	/* TODO: Composition position got messed up somewhere */
	background: #000;
	color: #FFF;
	display: none;
	position: absolute;
	white-space: nowrap;
	z-index: 1;
}

.xterm .composition-view.active {
	display: block;
}

.xterm .xterm-viewport {
	/* On OS X this is required in order for the scroll bar to appear fully opaque */
	background-color: #000;
	overflow-y: scroll;
	cursor: default;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.xterm .xterm-screen {
	position: relative;
}

.xterm .xterm-screen canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.xterm .xterm-scroll-area {
	visibility: hidden;
}

.xterm-char-measure-element {
	display: inline-block;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: -9999em;
	line-height: normal;
}

.xterm {
	cursor: text;
}

.xterm.enable-mouse-events {
	/* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
	cursor: default;
}

.xterm.xterm-cursor-pointer {
	cursor: pointer;
}

.xterm.column-select.focus {
	/* Column selection mode */
	cursor: crosshair;
}

.xterm .xterm-accessibility,
.xterm .xterm-message {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	color: transparent;
}

.xterm .live-region {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}


.close-btn {
    top: 1px;
    right: 1px;
    color: dimgray;
    background-color: rgba(0,0,0,0);
    font-size: 16px;
    border-style: none;
    padding: 0;
}

.close-btn:hover {
    top: 1px;
    right: 1px;
    color: #7f3835;
    background-color: rgba(0,0,0,0);
    font-size: 16px;
    border-style: none;
    padding: 0;
}

#newtab {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #313131;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	font-size: 28px;
	left: 105%;
	top: -8px;
}

#newtab:hover {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: dimgray;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	font-size: 28px;
	left: 105%;
	top: -8px;
}

#console {
	position: fixed;
	right: 15px;
	width: 300px;
	height: auto;
	font-family: "Montserrat";
    font-size: 13px;
	display: inline-block;
	top: 60px;
	z-index: 999999999;
}

#console > .log {
	position: relative;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	border-color: #1f3366;
	color: white;
	background-color: #3967c6;
	width: 99%;
	height: auto;
	overflow-wrap: break-word;
	padding: 5px;
}

#console > .error {
	position: relative;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	border-color: #541716;
	color: white;
	background-color: #f94341;
	width: 99%;
	height: auto;
	overflow-wrap: break-word;
	padding: 5px;
}

#console > .warn {
	position: relative;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	border-color: #77491f;
	color: white;
	background-color: #e49329;
	width: 99%;
	height: auto;
	overflow-wrap: break-word;
	padding: 5px;
}

#console > * > * {
	position: relative;
	left: 1px;
	top: -10px;
	right: 5px;
}

.console-close-btn {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute !important;
	right: 2px !important;
	color: indianred !important;
	left: 96% !important;
	font-size: 17px;
	top: -5px !important;
}

.console-close-btn:hover {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute !important;
	left: 96% !important;
	color: #cd352a !important;
	font-size: 17px;
	top: -5px !important;
}

input {
	font-family: "Rubik", sans-serif;
	color: dimgrey;
	background-color: #353540;
	border-style: none;
	border-radius: 3px;
	padding: 5px;
}

.footer-btn {
    width: auto;
    height: 100%;
    position: relative;
    bottom: 3px;
    color: gray;
    border-style: none;
    font-family: monospace;
    background-color: rgb(30, 30, 33);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.footer-btn:hover {
    width: auto;
    height: 100%;
    border-style: none;
    position: relative;
    color: gray;
    bottom: 3px;
    font-family: monospace;
    background-color: #353535;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#beta {
    top: 10px;
    left: 179px;
    position: absolute;
}

#top-btns {
    top: 20px;
    position: absolute;
    left: 200px;
    color: gray;
    font-family: "Montserrat";
    font-weight: bolder;
}

#top-btns > span {
    height: 100%;
    padding: 3px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#top-btns > span:hover {
    background-color: #313131;
    height: 100%;
    padding: 3px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    background-color: #1d1f21;
    width: 7px;

}
::-webkit-scrollbar-track {
    background-color: #1d1f21;
    width: 7px;

}

::-webkit-scrollbar-thumb {
    background: #353535;
    width: 7px;
    border-color: #20201d;
}